{% extends "app_moviplus/base.html" %}
{% load static %}
{% block title %}CinePlus | {{ query }}{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center titulo mt-4 mb-4">Pelicula buscada: {{ query }}</h1>
    {% if peliculas %}
        <div class="row">
            {% for pelicula in peliculas  %}
                <div class="col-12 col-md-6 col-lg-4  d-flex">
                    <div class="card mb-3 flex-fill" >
                        <img src="https://image.tmdb.org/t/p/w500/{{ pelicula.poster_path }}"  class="card-img-top img-card" alt="{{ pelicula.title }}">
                        <div class="flex-grow-1 d-flex flex-column justify-content-center">
                            <h5 class="text-center card-title">  {{pelicula.title}}</h5>
                        </div>
                        <div class="card-body custom-card-body">
                            {% if user.is_authenticated %}
                                <a href="{% url 'pelicula_seleccionada' pelicula.id %}" class="btn btn-primary btn-card">Ver Detalles</a>
                            {% else %}
                                <a href="{% url 'registro' %}" class="btn btn-primary btn-card">Mas Información</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
</div>

{% endblock %}
